<div>
    <h1>Edit</h1>
    <form [formGroup]="formEdit" (ngSubmit)="onSubmit()">
      <div class="form-group">
      <input required formControlName="name" type="text" id="name" name="name" class="form-control" placeholder="enter name" />
    </div>
    <div class="form-group">
      <input required type="text" id="detail" formControlName="detail" name="detail" class="form-control" placeholder="enter detail" />
    </div>
      <button [disabled]="!formEdit.valid" class="btn btn-success">Update</button>
      <button class="btn btn-basic" style="margin-left:10px"  (click)="back()"><i class="fa fa-repeat"></i></button>
    </form>
  </div>